

.area_chat{
    width: 70%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    .screen{
        display: flex;
        flex-direction: column;
        height: 23rem;
        .message_component{
            padding: 0.5rem;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            background: rgb(255, 235, 235);
            width: fit-content;
            max-width: 100%;
            margin: 0.5rem auto 0.5rem 0;
            flex-direction: column;
            position: relative;
            &.ismainuser{
                background: rgb(236, 236, 250);
                margin: 0.5rem 0 0.5rem auto;
            }
            .message{
                margin: 1rem 1rem;
                width: fit-content;
                word-break:break-all;
            }
            button{
                position: absolute;
                right: 0.5rem;
                font-size:.9rem;
                top:0.5rem;
                border-radius: 100%;
                width: 1.2rem;
                height: 1.2rem;
                border: none;
                background: rgb(136, 136, 175);
                color: white;
                opacity: 0.4;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
        overflow-y: auto;
    }
    .sendmessage{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        button{
            margin: 0.5rem auto auto 0;
            padding: 3px 10px;
        }
        textarea{
            padding: 0.3rem;
            box-sizing: border-box;
            font-size: 1rem;
            height: 4rem;
            border-radius: 5px;
            border: 1px solid black;
        }
    }
}