.user_list {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 2rem;
    }
    .contenedor_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
        gap: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        .userheader{
            height: 4rem;
            width: 100%;
        }
    }
    .area_button_menu{
        margin:1rem auto;
        display: flex;
        span{
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
            font-size: 1.4rem;
            margin: auto 0.4rem;
            background: rgb(49, 49, 49);
            width: 1.4rem;
            border-radius: 5px;
            text-align: center;
            height: fit-content;
            color: white;
            &:hover{
                background: rgb(15, 15, 15);
            }
        }
    }
}