.area_res{
    width: 50rem;
    margin:5rem auto;
    display: flex;
    flex-direction: column;
    .area_buttons{

    }
    .area_form{
        width: 100%;
        overflow: hidden;
        .area_slider{
            width: 200%;
            display: flex;
            transition: margin-left 0.3s ease;
            form{
                width: 100%;
            }
        }
    }
}